/* HTML ELEMENT STYLING */
*{
  box-sizing: border-box;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
}
section, aside, article, nav, header, footer, main, figure{
  display: block;
}

/* BODY */
body{
  background-color: #2aac2a;
  color: #fff;
}
hr{
  width: 85%;
  margin-top: 50px;
  margin-bottom: 50px;
}
section > figure > img {
  margin: auto;
}
footer{
  margin-top: 30px;
  margin-left: 35%;
  margin-right: 35%;
}

/* IDs */
#landing {
  background: url("img/1.png") fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  color: white;
}
#members{
  background: url("img/4.png");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#members h1 {
  font-size: 6em;
}
#members p {
  font-size: 20px;
}
#about{
  padding-top: 80px;
  padding-bottom: 80px;
}
#events{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#join{
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#joinAndFooter{
  background: url("img/3.png");
  background-attachment: fixed;
  background-size: cover;
}
#contact-form {
  background-color: white;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    z-index: 99999;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}

/* CLASSES */
.greenText{
    color: green;
}
.jumbotron {
  margin: 10% 0 20% 0;
  background: transparent;
  height: 100%;
}
.pad{
  padding-top: 10px;
}
.padLR{
  margin: 0 30px 0 30px;
}
.padLR a{
  color: #fff;
  text-decoration: none;
}
.padLR a:hover {
  transition: 0.4s;
  color: #2aac2a;
}
.left{
  text-align: left;
}
.footer {
  padding-bottom: 10px;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
.event{
  background-image: url(img/1.png);
  background-size: cover;
}
.back-to-top {
background: none;
margin: 0 40px 40px 0;
position: fixed;
bottom: 0;
right: 0;
z-index: 100;
display: none;
text-decoration: none;
color: #fff;
}
.back-to-top:hover {
  color: #fff;
}

/* NAVBAR */
@media screen and  (min-device-width: 768px){
  .navbar{
    border: 0px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5%;
}
}
@media screen and (max-device-width: 768px)  {
  section > article > p {
  padding-top: 10px
}
  .navbar{
    border: 0px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: rgba(0,0,0,0.5);
}
  .greenText{
    color: #2aac2a;
  }
  .pad{
    padding-top: 20px;
}
  }
.nav-items{
    margin-right: 5%;
  }
}
.navbar{
    border: 0px;
  }
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar-default {
  background: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.nav-items > li > a > em {
  font-style: normal;
  padding-bottom: 6px;
  margin: 0 2.5px 0 2.5px;
}
.nav-items > li > a > em:hover {
  border-bottom: 1.5px solid #e7e7e7;
}
.nav-items > li > a > em:active {
  border-bottom: 1.5px solid #e7e7e7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #2aac2a;
}

/* NAVBAR HARMBURGER */
.navbar-default .navbar-toggle .icon-bar {
 background-color: #fff; 
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}
.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/* BUTTON */
.cta{
  width: 175px;
  padding: 15px;
  background-color: #2aac2a;
  border-color: transparent;
  border-radius: 30px;
}
.cta a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
